<section class="container grid-960" ng-init="getDetail();">
    <form class="col-sm-12 col-md-4 centered" ng-submit="saveTodo()">
        <header class="text-center">
            <h4>{{title}}TODO</h4>
        </header>
        <section class="block" style="margin-bottom: 1rem;">
            <div ng-if="validate.msg.length>0" class="toast toast-danger"><span class="icon icon-error_outline"></span>{{validate.msg}}</div>
        </section>
        <section>
            <div class="form-group">
                <label class="form-label" for="input-username">名称:&nbsp;<span class="text-danger text-bold">*</span></label>
                <input class="form-input" ng-class="{'is-danger':validate.error.todo_name}" ng-model="newTodo.todo_name" type="text" id="input-username" placeholder="请在此输入todo的名称">
            </div>
            <div class="form-group">
                <label class="form-label" for="input-startTime">开始时间:</label>
                <input id="input-startTime" type="date" ng-class="{'is-danger':validate.error.start_time}" ng-model="newTodo.start_time">
            </div>
            <div class="form-group">
                <label class="form-label" for="input-endTime">最晚时间:</label>
                <input type="date" id="input-endTime" ng-class="{'is-danger':validate.error.end_time}" ng-model="newTodo.end_time">
            </div>
            <div class="form-group">
                <label class="form-label" for="input-score">奖励积分:&nbsp;<span class="text-danger text-bold">*</span></label>
                <input class="form-input col-3" ng-minlength="1" min="1" type="number" ng-class="{'is-danger':validate.error.score}" ng-model="newTodo.score" id="input-score" placeholder="在此输入完成后奖励给自己的积分值">
            </div>
            <div class="form-group">
                <label class="form-label" for="input-remark">备注:</label>
                <textarea class="form-input" ng-class="{'is-danger':validate.error.remark}" ng-model="newTodo.remark" id="input-remark"></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">保存</button>
                <button ng-if="stateParams.todoid==undefined" class="btn btn-link" type="reset">重置</button>
                <a ng-if="stateParams.todoid!=undefined" class="btn btn-link" ng-click="deleteTodo(newTodo.id)">删除</a>
                <a ui-sref="todo.list" class="float-right btn btn-link">返回列表>></a></div>
            </div>
        </section>
    </form>
</section>